<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <conversionRule conversionWord="safeMessage" class="com.agilityhub.core.configuration.PrivacyMessageConverter"/>
    <conversionRule conversionWord="safeException" class="com.agilityhub.core.configuration.PrivacyExceptionConverter"/>
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{40} traceId=%X{traceId} clubId=%X{clubId} accountId=%X{accountId} : %safeMessage%n%safeException"/>
    <springProfile name="prod | staging | structured-logs">
        <include resource="org/springframework/boot/logging/logback/structured-console-appender.xml"/>
    </springProfile>
    <springProfile name="!prod &amp; !staging &amp; !structured-logs">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    </springProfile>
    <root level="INFO"><appender-ref ref="CONSOLE"/></root>
</configuration>
